<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/head") %>
</head>
<style>
    
</style>
<body>
    <%- include("./partials/header") %>
    <div class="container" style=" text-align: center;padding: 40px;margin-top: 100px;">
        <h3>Aradığınız Sayfa Bulunamadı</h3>
    </div>
    <%- include("./partials/footer") %>
</body>
<%- include("./partials/importScript") %>
</html>