<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>pskmelisademirer</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<style>
  .btn-msg{
    color: #FFF;
    background-color: #1bb1dc;
    border-style: none;
    padding: 10px;
    border-radius: 30px;
  }
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  margin: 0px 40px -30px 0px;
}

.my-float{
	margin-top:16px;
}</style>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <!-- <link href="/css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/" style="font-weight: bold; font-size: 24px;">PSİKOLOG MELİSA NUR DEMİRER</a></h1>
    

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Ana Sayfa</a></li>
          <!-- <li><a class="nav-link scrollto" href="#about">Hakkımda</a></li>
          <li><a class="nav-link scrollto" href="#services">HİZMETLERİM</a></li> -->
          <li><a class="nav-link scrollto" href="/blog">Blog Sayfası</a></li>
          <li><a class="nav-link scrollto" href="/galeri">Galerİ</a></li>
          
          <li><a class="nav-link scrollto" href="#footer">İLETİŞİM</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        
        <a href="http://www.linkedin.com/in/melisa-demirer-961aa9172" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/psikologmelisademirer?igsh=OGQ5ZDc2ODk2ZA==" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header><!-- End Header -->



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Ruh sağlığı fiziksel sağlık kadar önemlidir<br>ve aynı kalitede desteği <span>hakeder!</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Bilgi Al!</a>
          </div>
        </div>

        <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="/img/tsrm.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-5 col-md-6" style="margin-top: 50px;">
            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
              <img src="/img/mlsa.jpeg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
              <h2>Hakkımda</h2>
             
              <p>Aydın Adnan Menderes Üniversitesi psikoloji bölümünü yüksek onur derecesiyle tamamlayarak mezun oldum. Lisans eğitimim devam ederken başta Türk Psikologlar Derneğinde sağlık psikolojisi biriminde psikoonkolojiyle ilgili araştırmalarda yer alarak kanserli hastalarda psikolojik gelişim sürecinin içerisinde yer aldım. Sonrasında word human relief ekibinde yer alarak çocuk cinsel istismarını önlemeye yönelik gönüllü olarak saha çalışmalarında görev aldım. Stajımı özel eğitim ve rehabilitasyon merkezi ile psikoterapist eğitim ve danışmanlık merkezinde tamamladım. Bu dönemde aynı zamanda bir grup psikoloji öğrenci topluluğundan oluşan bir web sitesinde alanımla ilgili yazarlık yaptım. 
                2021 yılından bu yana profesyonel olarak çocuk, ergen, yetişkin ve ailelere yönelik psikolojik değerlendirme, danışmanlık, psikoterapi, psikolojik testler alanlarında hizmet vermeye devam etmekteyim.</p>
                <h4>Eğitimlerim</h4>
              <ul>
                <li><i class="bi bi-check-circle"></i> Türkiye/Antalya/Antalya Türk Psikoterapistler Akademisi - EMDR Eğitimi – EMDR.</li>
                <li><i class="bi bi-check-circle"></i> Türkiye/Antalya/Antalya Psikoterapist Eğitim ve Danışmanlık - Peabody Resim Kelime Testi Eğitimi - Peabody Resim Kelime Testi.</li>
                <li><i class="bi bi-check-circle"></i>Türkiye/Antalya/Antalya Psikoterapist Eğitim ve Danışmanlık - Yeme Bozukluğu Eğitimi - Yeme Bozukluğu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - KLİNİK DEĞERLENDİRME, VAKA FORMÜLASYONU VE SEANS YÖNETİMİ Prof. Dr. Ebru Şalcıoğlu</li>
                <li><i class="bi bi-check-circle"></i>DATEM - TEMEL BİLİŞSEL DAVRANIŞÇI TERAPİLERİN KLİNİK UYGULAMALARI Prof. Dr. Ebru Şalcıoğlu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - PANİK BOZUKLUK, AGORAFOBİ VE SOSYAL KAYGI EĞİTİMİ Prof. Dr. Ebru Şalcıoğlu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - TRAVMA SONRASI STRES BOZUKLUĞU EĞİTİMİ Prof. Dr. Ebru Şalcıoğlu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - OBSESİF KOMPÜLSİF BOZUKLUK EĞİTİMİ Prof. Dr. Ebru Şalcıoğlu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - YEME BOZUKLUKLARI Prof. Dr. Ebru Şalcıoğlu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - YAYGIN KAYGI ve DEPRESYON EĞİTİMİ Prof.Dr. Ebru Şalcıoğlu.</li>
                <li><i class="bi bi-check-circle"></i>DATEM - KİŞİLİK BOZUKLUKLARI EĞİTİMİ PROF.Dr. Ebru Şalcıoğlu.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Hizmetlerim</h3>
          
        </header>

        <div class="row g-5">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-briefcase" ></i></div>
              <h4 class="title"><a href="">Psikolojik Test ve Ölçekler</a></h4>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-clipboard-data-fill"></i></div>
              <h4 class="title"><a href="">Panik Atak Tedavisi</a></h4>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-crop"></i></div>
              <h4 class="title"><a href="">Kişilik Bozuklukları</a></h4>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Yeme Bozuklukları</a></h4>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-clipboard-heart"></i></div>
              <h4 class="title"><a href="">Yaygın Anksiyete ve Depresyon</a></h4>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-clipboard-pulse "></i></div>
              <h4 class="title"><a href="">Sosyal Kaygı</a></h4>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-clipboard2-heart-fill"></i></div>
              <h4 class="title"><a href="">Travma Sonrası Stres Bozukluğu</a></h4>
            
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-heart-pulse"></i></div>
              <h4 class="title"><a href="">Obsesif Kompulsif Bozukluk</a></h4>
            
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <div class="icon" style="background: #b1d9dc42;"><i class="bi bi-bar-chart" ></i></div>
              <h4 class="title"><a href="">Agorafobi</a></h4>
              
          </div>
      

    

      
   

      </div>

      </div>
    </section>

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3>SIKÇA SORULAN SORULAR</h3>
        </header>

        <ul class="faq-list" data-aso="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Online terapi, yüz yüze terapi kadar fayda sağlar mı? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Online terapi hizmeti veren uzmanlara en sık sorulan sorulardan biri de online terapinin yüzyüze terapiler kadar etkili olup olmadığıdır. Bununla ilgili bir çok bilimsel araştırma yapılmıştır ve cevap evettir. Online terapiler de oldukça etkilidir.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Neden terapi almalıyım? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Terapi konusunda uzman bir psikolog tarafından gelen kişilere iç görü, deneyim, farkındalık keşfetme hayattan keyif alma cesaret ve özgüven gibi birçok konuda sizi aydınlığa kavuşturan bir yolculuk ve deneyimdir.
Ve bu deneyim sizi hayata dair daha yaşanabilir hale getirmeyi amaçlamaktadır. Ertelediğiniz tüm hedefleriniz ve hayallerinize artık bir adım daha yaklaşmak için psikoterapi desteği almalısınız. Hiçbir sorun kalıcı değildir ve her yaşanılan mücadele edici tavrınız aslında sizi daha da büyütüp geliştirir.

              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Terapide konuşulanlar başkalarına (aileme, eşime vs.) aktarılır mı? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                “Gizlilik” psikoloji ve psikiyatri uzmanlarının en önemli mesleki ilkelerindendir. Psikolojik danışmanlık seansında danışanın anlattığı hiçbir bilgi bir başkasına anlatılmaz. Bu kişi danışanın yakını, eşi ya da ailesi olsa da durum değişmez. Bazı durumlarda danışanın izni ve kendi belirlediği sınırlar dahilinde aile üyeleri terapi sürecinin gidişatı hakkında bilgilendirilir. Ancak bu bilgilendirmede seansların içeriği asla paylaşılmaz. 
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">İyi bir terapi süreci nasıl olur? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Seanslarınıza terapistinizle beraber belirleyeceğiniz saatlerde ve günlerde gelmeniz, acil bir durum olmadığı sürece seans iptali yapmamanız, seanslardan sonra konuşulanları başka kişilerle paylaşmamanız terapi sürecinin olumlu ilerlemesine katkıda bulunur.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Seanslar ne kadar sürer? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Seans süresi 45-55 dk arasında sürmektedir. Uyguladığımız bazı terapi modellerinde ise daha uzun sürebilmektedir.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Terapi seansları ne sıklıkla yapılır? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Terapi seanslarının sıklığı terapi türüne, terapistin önerisine ve bireyin ihtiyaçlarına göre değişebilir. Genel olarak terapi seansları haftalık veya iki haftalık periyotlarla düzenlenir. Ancak bazı durumlarda terapistler, daha sık veya daha seyrek seanslar önerebilir. Birçok terapi türü için haftalık seanslar yaygındır. Örneğin, bilişsel davranışçı terapi (BDT) genellikle haftada bir seans şeklinde yapılır. BDT, birçok psikolojik sorunun tedavisinde etkili bir terapi yöntemidir ve bireylerin düşünce kalıplarını ve davranışlarını değiştirmelerine yardımcı olur. Diğer terapi türleri, özellikle daha az yoğun veya destekleyici terapiler, iki haftada bir veya ayda bir seansları içerebilir. Bu terapiler genellikle bireyin günlük yaşamıyla başa çıkmasına yardımcı olmak, stresle başa çıkmak veya kişisel gelişimi desteklemek amacıyla kullanılır. Terapi süreci boyunca terapistinizle birlikte seans sıklığını belirlemeniz önemlidir. Terapistiniz, terapiye başladıktan sonra sizin ilerlemenizi değerlendirecek ve seans sıklığını ihtiyaçlarınıza göre ayarlayacaktır
              </p>
            </div>
          </li>
          <li>
            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Seans ücretleri ne kadar? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
              <p>
                Bilgilendirme için iletişim bölümünde ki telefondan ulaşabilirsiniz.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                

               

              </div>

              <div class="col-sm-12">
              

                <div class="footer-links">
                  <h4>İletİşİm</h4>
                  <p>
                    ALANYA <br>
                    Cumhuriyet mahallesi<br>
                    Bergamut sokak<br>
                    Özer apartman no:5 <br>
                    <strong>Telefon:</strong> +90 531 318 56 42<br>
                    <strong>Email:</strong> pskmelisademirer@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  
                  <a href="https://www.instagram.com/psikologmelisademirer?igsh=OGQ5ZDc2ODk2ZA==" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="http://www.linkedin.com/in/melisa-demirer-961aa9172" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Bana Mesaj Gönderin</h4>
              

              <form action="/send-email" method="post" role="form">
                <div class="form-group">
                  <input type="text" id="name" name="name" class="form-control" id="name" placeholder="İsminiz" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" id="email" class="form-control" name="email" id="email" placeholder="Mail adresiniz" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" id="subject" name="subject" id="subject" placeholder="başlık" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" id="message" name="message" rows="5" placeholder="Mesaj" required></textarea>
                </div>

                <div class="my-3">
                
                  <div class="error-message"></div>
                  
                </div>

                <div class="text-center"><button type="submit" class="btn-msg" title="Send Message">Bana Mesaj gönder</button></div>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>2023 © Exnoremo</strong>. TÜM HAKLARI SAKLIDIR.
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
      -->
 
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="https://wa.me/+905313185642" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>